/* Reset */
/* Template colors:
-Hero green: #DEFAEF
-Purple bg: #442AB9
*/



html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

*:before,
*:after,
* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', Helvetica, sans-serif;
  color: #442ab9;
  display: flex;
  flex-direction: column;
}

/* Basic */
ul {
  list-style: none;
}
ol {

}

.post-job-contact {
  list-style: none;
  max-width: 20rem;
  margin: 2rem;
  font-size: 20px;
  border-width: 2px;

}

.post-job-contact-gr {
  list-style: none;
  max-width: 20rem;
  margin: 2rem;
  font-size: 20px;
  border-width: 2px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #DEFAEF;

}

li {
}

.list-select-packages {
  font-size: 20px;
  padding: 2rem 3rem;
  color: black;
}

.list-select-packages-button-grid {
  display: flex;
  padding: 2rem 3rem;
}

a {
  text-decoration: none;
  color: #442ab9;
}

.strikethrough {
  text-decoration: line-through;
  color: #000;

}

.non-strike-color {
  color: red;
}

.white-override-color {
  color: #fff;
}

.size-override-formpage {
  font-size: 25px;
}

img {
  max-width: 100%;
}

/*@media screen and (max-width: 768px) {

.img-homepage {
  float: right;
  display: none;
  }

} */

/* Containers */
.main {
  flex: 1 1 auto;
}

/* Typography */
h1,
h2,
h3 {
  font-weight: 500;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.75rem;
}
.content-block-a {
  color: #DEFAEF;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 2.4rem;
}

h5 {
  font-size: 2rem;
  
  }

p {
  font-size: 1.6rem;
  line-height: 1.6;
}

.content-block-c {
  color: #DEFAEF;
}

.content-packages {
  color: black;
  line-height: 3.75rem;
}

small {
  font-size: 1.4rem;
}

.container {
  max-width: 92rem;
  margin: 0 auto;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  z-index: 10;

}

.container-p {
  align-content: center;
}

.content-p-size {
  font-size: 1.2rem;
  margin-top: 10px;
  color: black;

}

.container-p-featuredpost {
  display: flex;
  background-color: #ffff9575;
  width: 21.5rem; 
  overflow: hidden;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}


.container-p-basicpost {
  display: flex;
  background-color: #ffff9575;
  width: 21.5rem; 
  overflow: hidden;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.container-p-tweet {
  display: flex;
  width: 30rem; 
  padding-top: .5rem;
  padding-bottom: .5rem;
}

/*@media only screen and (max-width: 500px) {
  .container-mc-aligned {
  padding-left: 8rem;
  padding-right: 8rem;
  }
}*/

.footer-container {
 
  max-width: 92rem;
  margin: 0 auto;
  position: relative;
  padding-left: .5rem;
  padding-right: .5rem;
  z-index: 10;
}


.container-growth-hp {
  max-width: 92rem;
  padding-top: 2rem;
}

.image-container {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.button-container {
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
}

.contact-container {
  margin: 5rem;
  border-top: 1px solid #442ab9;
  border-bottom: 1px solid #442ab9;
}

/* Buttons */
.button {
  background-color: #442ab9;
  padding: 2rem 3rem;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase; 
}

.button-fontcolor {
  align-items: center;
  color: #fff;
}

.button-fontcolor:hover {
  background-color:#DEFAEF;
  color: #442AB9;
  cursor:pointer;
}

.button-bgcolor-gr {
  color: #fff;
  padding-top: 25px;
  background-color: #442ab9;
  padding: 2rem 3rem;
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase; 
}

.color-hover:hover {
  background-color: #DEFAEF;
  color: #442ab9;
}

.button-better-green {
    color: #ffffff;
    background-color: red;
    padding: 1.8rem 2.8rem 2rem;
    line-height: 1.2;
  }

.button-nav {
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  padding: 2rem 3rem;

}

.button-nav:hover {
  background-color:#DEFAEF;
  color: #442AB9;
  cursor:pointer;
}

.button--dark {
  background-color: #442ab9;
  color: #fff;
}
/* Header */
.header {
  margin-top: 6.4rem;
  padding-left: 4rem;
}


hr {

  }

.tout-hr {
  color: #f8f8f8;
}

