/* Tout */
.tout {
  display: flex;
}

.tout-featured {
  background-color: #ffff9575;
  padding-top: 1rem;
}
.color:hover {  
  color: #000;
}

.tout > :first-child {
  flex: 0 0 10%;
}

.tout > :last-child {
  flex: 1 1 60%;
  padding-left: 4rem;
}

.tout > :last-child p:first-of-type {
  margin: 0.2rem 0 2.5rem;
  font-weight: 600;
}
