{% extends "layouts/default.html" %}

     

{% block content %}
  <header class="post-header">
      <div class="container">
        <div class="post-header__content">
          <h1>Post a Job</h1>
          <br />
            <h3>Thanks for choosing Growth Jobs List! Please follow the next steps to get your job listed.👇 
        </div>
        <br />
        <br />
        <h3><u>Step 1</u>: Fill out the form</h3>
        <br />
        <br />

      <div class="container">
        <script src="https://static.airtable.com/js/embed/embed_snippet_v1.js"></script>
        <iframe class="airtable-embed airtable-dynamic-height" src="https://airtable.com/embed/shr5nIHvygSQviV86?backgroundColor=purple" frameborder="2" onmousewheel="" width="100%" height="inherit" style="background: transparent; padding-bottom: 10px;"></iframe>
      </div>

      <br />
      <br />
    <div class="post-header__content_step"> <!--check width-->
      <div class="container">
        <br />
        <h3><u>Step 2</u>: Select Listing Package & Pay</h3>
        <br />
        
        <h3>Here's a few things to know first:</h3>
              <ul class="list-select-packages">
                <li>✅ You're paying for <strong>one</strong> job listing.</li>
                <li>✅ All job listings will stay up for 30 days.</li>
              </ul>

        <h3 class="container-h2-featuredpost">Now, choose one of the following packages:</h3>

    <div class="thumb-list-featured">
      <div class="container">
        <ul class="list-select-packages-button-grid">
         
          <h3 class="h3-strong">Featured Listing Package - JUST $79! ⭐ Most popular</h3>
            
            <li><p class="content-packages"><strong>></strong> 1 Job Listing live for 30 days</p></li>
            <li><p class="content-packages"><strong>></strong> 8 Shoutouts on Twitter (~2/w)</p></li>
            <li><p class="content-packages"><strong>></strong> Listing added to FOUR Weekly Newsletter at the Top 🔥 (150+ marketers)</p></li>
            <li><p class="content-packages"><strong>></strong> Write 250 word blog post on Medium about your job and growth</p></li>
            <li><p class="content-packages"><strong>></strong> Free Support</p></li>
            <li><p class="content-packages"><strong>></strong> Option to renew similar listing for just $49 💰 (for 30 d) </p></li>
            <li><p class="content-packages"><strong>></strong> Published immediately 🚀</p></li>
            <br />
            <li> <a href="/paymentv"><button class="button-bgcolor-gr color-hover">Post Featured Job</button></a></li>
          </ul>
        
        <ul class="list-select-packages-button-grid">
          
          <h3 class="h3-strong">Basic Listing Package - JUST $10!</h3>

            <li><p class="content-packages"><strong>></strong> 1 Job Listing live for 30 days</p></li>
            <li><p class="content-packages"><strong>></strong> 2 Shoutouts on Twitter (1 every 2 weeks)</p></li>
            <li><p class="content-packages"><strong>></strong> Listing added to 1 Weekly Newsletter</p></li>
            <li><p class="content-packages"><strong>></strong> Published in approx. 24-48 hours</p></li>
            <li><p class="content-packages"><strong>></strong> FOMO for choosing Basic 😱!</p></li>
            <br />
            <li> <a href="/payment"><button class="button-bgcolor-gr color-hover">Post Basic Job</button></a></li>

        </ul>
      </div>
    </div>
    

    </div>
  </div>

  </header>

{% endblock %}
