{% extends "layouts/default.html" %}

{% block content %}
  <div class="hero hero--text" style="background-image: url('{{ page.hero.image | image }}');">
    <div class="container">
      <div class="hero__content">
        <h1>{{ page.hero.heading }}</h1>
        <p>{{ page.hero.text }}</p>
        
      </div>
    </div>
  </div>

<div class="container">

  <div id="mc_embed_signup">
    <form action="https://ramoncacho.us16.list-manage.com/subscribe/post?u=2d404b758c066c83daaaefa3d&amp;id=6e02e524ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <label for="mce-EMAIL"> Get Growth jobs right in your inbox! </label>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="YOUR@EMAIL.COM" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d404b758c066c83daaaefa3d_6e02e524ff" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      <p class="content-p-size"><i>Sent once a week. No spam.</i></p>
    </form>
  </div>
  
</div>

  <div class="thumb-list thumb-list--three">
    <div class="container tout-featured">
      <h2 id="featured-jobs" class="heading">Featured Growth Jobs</h2>
      <hr class="tout-hr">

      <ul>
        {% for fpost in page.featuredPost %}
          <li>
            <a href="{{ fpost | route('featuredpost') }}" class="tout">
              <div>
                <img src="{{ fpost.featuredImage | image }}">
              </div>

              <div class="tout__content color">
                <h5>{{ fpost.title }}</h5>
                <p>
                   <time>added on: {{ fpost._enabledAt | date("MMMM D, YYYY" )}}</time>
                  
                </p>
                
              </div>

            </a>
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>


  <div class="thumb-list thumb-list--three">
    <div class="container">
      <h2 class="heading">More Growth Jobs</h2> <!-- need to really make this its own list of posts -->
      <hr>

      <ul>
        {% for post in page.posts %}
          <li>
            <a href="{{ post | route('post') }}" class="tout">
              <div>
                <img src="{{ post.featuredImage | image }}">
              </div>

              <div class="tout__content color">
                <h5>{{ post.title }}</h5>
                <p>
                  <time>added on: {{ post._enabledAt | date("MMMM D, YYYY") }}</time>
                  
                </p>
               
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      <hr>

      <br />
      <br />
      
      <div class="container">
      
        <div id="mc_embed_signup">
          <form action="https://ramoncacho.us16.list-manage.com/subscribe/post?u=2d404b758c066c83daaaefa3d&amp;id=6e02e524ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL"> Get Growth & Marketing jobs right in your inbox! </label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="YOUR@EMAIL.COM" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d404b758c066c83daaaefa3d_6e02e524ff" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
      
              <p class="content-p-size"><i>Sent once a week. No spam.</i></p>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="stat-bar">
    <div class="container">
      <ul>
        {% for stat in page.statBar %}
          <li>
            <p class="h2-toh1look">{{ stat.value }}+</p>
            <p>{{ stat.label }}</p>
          </li>
        {% endfor %}
      
      </ul>
    </div>
  </div>

    <div class="container">
      
      <div class="container-growth-hp">
        <h2 class="heading">{{ page.introduction.heading }}</h2>
        
        <hr class="tout-hr">
      
      </div>
    </div>

  <div class="content content-block">   
    <div class="container">
      <div>
        <p>Like Paul Graham from Y Combinator wrote in his famous blog post <a href="http://www.paulgraham.com/growth.html" target="_blank">"Startup = Growth"</a>:</p>
      <br />
        <div>
          <aside class="pullquote">
          <blockquote>A startup is a company designed to grow fast. Being newly founded does not in itself make a company a startup. Nor is it necessary for a startup to work on technology, or take venture funding, or have some sort of "exit." The only essential thing is growth.</blockquote></aside>
          <br />
          <p>With GrowthJobsList, we're in the pursuit of matching growth & marketing people with startups and tech companies.</p>
          <br /><h3><strong>Growth helps keep companies alive!</strong></h3>
        </div>
      </div>
      <!-- <div>
        <img src="{{ page.introduction.image | image }}">
      </div> -->
    </div>
  </div>
  
  <div align="center" class="content-block">
    <a href="/contact" target="_blank"><button class="button button-nav">Post a Job</button></a>
    <p class="content-packages-underbutton">List your job for 30 days</p>
  </div>

<div class="container">
  <br />
</div>


{% endblock %}
