{% extends "layouts/default.html" %}

{% block content %}
  <header class="post-header">
      <div class="container">
        <div class="post-header__content">
          <h1>Pay Now - Featured Job Listing - $149</h1>
          <br />
            <h3>For all job listings, you'll pay <strong>once</strong> per each listing, which last for 30 days.</h3>

            <br /><h3>All listings will be approved and posted within 24 hours.</h3>
        </div>
        <br />
        <br />
        <h3> Step 1: Fill out the form</h3>
        
        <iframe src="https://checkoutpage.co/checkout/5bb2ce3dca2ace00133f1ad7/growth-jobs-list---post-a-job---149" width="100%" height="1000" frameborder="0"></iframe>

    </div>

  </header>

{% endblock %}
