{% extends "layouts/default.html" %}

{% block content %}
  <header class="post-header">
      <div class="container">
        <div class="post-header__content">
          <h1>Pay Now - Basic Job Listing - <a class="strikethrough">$69</a> JUST $29 for the next 24 hours</h1>
          <br />
            <div class="thumb-list-featured">
      <div class="container">
        <ul class="list-select-packages-button-grid">
         
          <h2> What you get:</h2><br />
            <li><p class="content-packages"><strong>></strong> 1 Job Listing (live for 30 days)</p></li>
            <li><p class="content-packages"><strong>></strong> 4 Shoutouts on Twitter (~1/w) </p></li>
            <li><p class="content-packages"><strong>></strong> Listing added to TWO Weekly Newsletter</p></li>
            <li><p class="content-packages"><strong>></strong> Free Support</p></li>
            <li><p class="content-packages"><strong>></strong> Published in approx. 24-48 hours</p></li>
            <li><p class="content-packages"><strong>></strong> FOMO for choosing Basic 😱!</p></li>
            <br />
            <br />
          </ul>
        <h2> Pay below:</h2>
        </div>
        <br />
        <br />
        
        <iframe src="https://checkoutpage.co/checkout/5bb2ce3dca2ace00133f1ad7/growth-jobs-list---post-a-job---99" width="100%" height="900" frameborder="0"></iframe>

    </div>

  </header>

{% endblock %}
