{% extends "layouts/default.html" %}

{% block content %}
  <header class="post-header">
      <div class="container">
        <div class="post-header__content">
          <h1>Pay Now - Featured Job Listing - JUST $99</h1>
          <br />
            <div class="thumb-list-featured">
      <div class="container">
        <ul class="list-select-packages-button-grid">
         
          <h2> What you get:</h2><br />
            <li><p class="content-packages"><strong>></strong> 1 Job Listing (live for 30 days)</p></li>
            <li><p class="content-packages"><strong>></strong> 8 Shoutouts on Twitter (~2/w)</p></li>
            <li><p class="content-packages"><strong>></strong> Listing added to FOUR Weekly Newsletter at the Top 🔥 (4/5 remaining)</p></li>
            <li><p class="content-packages"><strong>></strong> Write 250 word blog post on Medium about your job and growth 🤩</p></li>
            <li><p class="content-packages"><strong>></strong> Free Support</p></li>
            <li><p class="content-packages"><strong>></strong> Option to renew similar listing for just $39 💰 (for 30 d) </p></li>
            <li><p class="content-packages"><strong>></strong> Published immediately 🚀</p></li>
            <br />
          </ul>
        <h2> Pay below:</h2>
        </div>
        <br />
        <br />
        
        
        <iframe src="https://checkoutpage.co/checkout/5bb2ce3dca2ace00133f1ad7/growth-jobs-list---post-a-job---149" width="100%" height="900" frameborder="0"></iframe>

    </div>

  </header>

{% endblock %}
