<footer class="page-footer">
  <div class="footer-container">
  	<ul>
  		<!-- <li><a href="https://twitter.com/growthjobslist?ref_src=twsrc%5Etfw" class="twitter-follow-button-footer" data-show-count="false">Follow @growthjobslist</a>
            
	    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->

      <p class="p-footer"> <a href="/">Home</a> | <a href="/blog">Blog</a></p>
      <br />
    
    <small>Copyright &copy;{{ now | date('YYYY') }}
    	<li><a href="/" rel="nofollow">GrowthJobsList. All rights reserved.</a></li>
    	<br />
    	<li><h6>The #1 source for growth marketing jobs on the internet.</h6></li>
    </small>
    </ul>
  </div>
</footer>

