<footer class="page-footer">
  <div class="footer-container">
  	<ul>
  		<!-- <li><a href="https://twitter.com/growthjobslist?ref_src=twsrc%5Etfw" class="twitter-follow-button-footer" data-show-count="false">Follow @growthjobslist</a>
            
	    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
    
    <small>Copyright &copy;{{ now | date('YYYY') }}
    	<li><a href="/" rel="nofollow">GrowthJobsList. All rights reserved.</a></li></small>
    	<br />
    	<small><li><h6>The #1 source for growth jobs on the internet.</h6></li></small>
    </ul>
  </div>
</footer>

