<header class="page-header">
 
<!--<nav>
  	<ul class=" page-header-left">
   		<li><a href="/"><h2 src="/" class="h1">GrowthJobsList</h2></a></li>
	</ul>
	<ul class=" page-header-right">
		<li><a href="/"><h2 src="/" class="h1">GrowthJobsList</h2></a></li>
	</ul>
</nav>-->


<div class="container">
    <nav class="navbar navbar-default">
      <div class="navbar-header">
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="navbar-left"><h2 href="#">GrowthJobsList</h2></li>
          <li class="navbar-right"><button class="button button-nav" href="#">Post a Job</button></li> 
          

        </ul>
      </div>
    </nav>
</div>

</header>

