{% extends "layouts/default.html" %}

{% block content %} <!-- REGULAR LISTINGS / POST -->
  <header class="post-header">
    <div class="container">
      <div class="nav-container-new">
        <a href="/"><p class="container-p-featuredpost-font">← Back</p></a>
      </div>
      <div class="post-header__content">
        <!--<p class="container-p-basicpost"> Feature this job! </p> -->
        <h2>{{ post.title }}</h2>
        
        <p><a href="{{ post.author.name | route('name') }}"><strong>at</strong> {{ post.author.name }}</a></p>
        
        <p><span><strong>added on:</strong> {{ post._enabledAt | date("MMMM D, YYYY") }}</span></p>
        <p><span><strong>site:</strong> <a href="{{ post.author.website }}" target="_blank"> {{ post.author.website }}</a></span></p>
        
        <p class="container-p-tweet">📣 Tweet this job:</p>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false" data-text="📣 New Job Alert: {{ post.title }} at {{post.author.name}}" data-hashtags="growthjobslist,digitalmarketing">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!--<p><strong>Location:</strong> {{ post.locationaut }}</p>-->
        
        {% if post.tags |  length %}<p>
          Tags: {% for tag in post.tags %}{% if not loop.first %}, {% endif %}{{ tag.name }}{% endfor %}</p>{% endif %}
      </div>
    </div>
  </header>

  <div class="content">
    <div class="container">
      <a href="{{ post.linkUrl }}" class="button button-fontcolor" target="_blank">Apply Now</a>
      {{ post.bodyHtml | safe }}
      <a href="{{ post.linkUrl }}" class="button button-fontcolor" target="_blank">Apply Now</a>
    </div>
  </div>
  <br />
  <div class="container">
  <hr>
  <br />
  <br />    
        <div id="mc_embed_signup">
          <form action="https://ramoncacho.us16.list-manage.com/subscribe/post?u=2d404b758c066c83daaaefa3d&amp;id=6e02e524ff" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL"> Get Growth jobs right in your inbox! </label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="YOUR@EMAIL.COM" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2d404b758c066c83daaaefa3d_6e02e524ff" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
      
              <p class="content-p-size"><i>Sent once a week. No spam.</i></p>
          </form>
          <br />
          <br />
        </div>
      </div>
{% endblock %}
