<!doctype html>

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126540129-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126540129-2');
</script>

  <!-- end of Google site tags -->

  <!-- heap analytics -->
  <script type="text/javascript">
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","resetIdentity","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("3885421961");
</script>
 
 <!-- end of heap analytics -->

  <title>{% block title %}Growth Jobs List - Find Growth and Marketing jobs at startups & tech companies.{% if page.title %} - {{ page.title }}{% endif %}{% endblock %}</title>

  <meta charset="utf-8">
  <meta name="keywords" content="growth jobs list, growth marketing, growth jobs, jobs in growth, marketing jobs, digital marketing jobs, growth hacker, growth hacking, growth hacking jobs" />
  <meta name="description" content="Find Growth and Marketing jobs at startups & tech companies." />

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/base.css"/>
  <link rel="stylesheet" href="/stylesheets/startup.css"/>
  <link rel="stylesheet" href="/stylesheets/content.css"/>
  <link rel="stylesheet" href="/stylesheets/content-block.css"/>
  <link rel="stylesheet" href="/stylesheets/feature.css"/>
  <link rel="stylesheet" href="/stylesheets/footer.css"/>
  <link rel="stylesheet" href="/stylesheets/form.css"/>
  <link rel="stylesheet" href="/stylesheets/header.css"/>
  <link rel="stylesheet" href="/stylesheets/hero.css"/>
  <link rel="stylesheet" href="/stylesheets/pagination.css"/>
  <link rel="stylesheet" href="/stylesheets/post-header.css"/>
  <link rel="stylesheet" href="/stylesheets/post-list.css"/>
  <link rel="stylesheet" href="/stylesheets/stat-bar.css"/>
  <link rel="stylesheet" href="/stylesheets/thumb.css"/>
  <link rel="stylesheet" href="/stylesheets/tout.css"/>
  <link rel="stylesheet" href="/stylesheets/trapdoor.css"/>

  <link href="https://s3.amazonaws.com/takeshape-api.prod.assets/bca0a85b-9226-44c0-9037-4104cd87e129/dev/fe1d3a1d-b6fc-43e1-b79a-ddb3eab37a75/mc-embedcode_current1004_1453.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>

<!-- Hotjar Tracking Code for https://growthjobslist.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1040846,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

<!-- End of Hotjar Code -->

<meta name="twitter:title" content="GrowthJobsList - Find Growth and Marketing jobs at startups & tech companies." />
<meta name="twitter:card" content="GrowthJobsList - Find Growth and Marketing jobs at startups & tech companies." />
<meta name="twitter:site" content="@GrowthJobsList" />
<meta name="twitter:creator" content="@ramoncacho" />
<meta name="twitter:description" content="Find Growth and Marketing jobs at startups & tech companies." />
<meta name="twitter:url" content="https://growthjobslist.com" />
<meta property="og:url" content="https://growthjobslist.com" />
<meta property="og:title" content="Growth Jobs List" />
<meta property="og:description" content="Find Growth and Marketing jobs at startups & tech companies." />
<meta property="og:image" content="https://takeshape-prod.imgix.net/bca0a85b-9226-44c0-9037-4104cd87e129/dev/b05d7a82-b250-4a6f-974d-65a4b2645d55/twitter-card.jpg?auto=format%2Ccompress" />

</head>

<body>
  <!-- add Makerwidget -->
<script>
    (function(d, h, m){
        var js, fjs = d.getElementsByTagName(h)[0];
        if (d.getElementById(m)){return;}
        js = d.createElement(h); js.id = m;
        js.onload = function(){
            window.makerWidgetComInit({
            position: "left",          
            widget: "cvpjjjojow2quvae-bp3p3dqicsshvklu-ilj051gzjetmsyi7"                
        })};
        js.src = "https://makerwidget.com/js/embed.js";
        fjs.parentNode.insertBefore(js, fjs)
    }(document, "script", "dhm"))
</script>
  <!-- end Makerwidget -->
  
  <!-- start LinkedIn pxl -->
  <script type="text/javascript">
    _linkedin_partner_id = "517546";
    window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || [];
    window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script><script type="text/javascript">
    (function(){var s = document.getElementsByTagName("script")[0];
    var b = document.createElement("script");
    b.type = "text/javascript";b.async = true;
    b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
    s.parentNode.insertBefore(b, s);})();
  </script>
<noscript>
  <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=517546&fmt=gif" />
</noscript>

  <!-- end LinkedIn pxl -->


{% include "partials/header.html" %}

<div class="main">
  {% block content %}{% endblock %}
</div>

{% include "partials/footer.html" %}

<script src="/javascripts/main.js"></script>


</body>
</html>
