<!doctype html>

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-126540129-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-126540129-2');
</script>

  <title>{% block title %}Growth Jobs List - Find jobs in Growth and Marketing at different startups globally.{% if page.title %} - {{ page.title }}{% endif %}{% endblock %}</title>

  <meta charset="utf-8">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700" rel="stylesheet">

  <link rel="stylesheet" href="/stylesheets/base.css"/>
  <link rel="stylesheet" href="/stylesheets/startup.css"/>
  <link rel="stylesheet" href="/stylesheets/content.css"/>
  <link rel="stylesheet" href="/stylesheets/content-block.css"/>
  <link rel="stylesheet" href="/stylesheets/feature.css"/>
  <link rel="stylesheet" href="/stylesheets/footer.css"/>
  <link rel="stylesheet" href="/stylesheets/form.css"/>
  <link rel="stylesheet" href="/stylesheets/header.css"/>
  <link rel="stylesheet" href="/stylesheets/hero.css"/>
  <link rel="stylesheet" href="/stylesheets/pagination.css"/>
  <link rel="stylesheet" href="/stylesheets/post-header.css"/>
  <link rel="stylesheet" href="/stylesheets/post-list.css"/>
  <link rel="stylesheet" href="/stylesheets/stat-bar.css"/>
  <link rel="stylesheet" href="/stylesheets/thumb.css"/>
  <link rel="stylesheet" href="/stylesheets/tout.css"/>
  <link rel="stylesheet" href="/stylesheets/trapdoor.css"/>

  <link href="https://s3.amazonaws.com/takeshape-api.prod.assets/bca0a85b-9226-44c0-9037-4104cd87e129/dev/fe1d3a1d-b6fc-43e1-b79a-ddb3eab37a75/mc-embedcode_current1004_1453.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>

</head>

<body>
{% include "partials/header.html" %}

<div class="main">
  {% block content %}{% endblock %}
</div>

{% include "partials/footer.html" %}

<script src="/javascripts/main.js"></script>
</body>
</html>
